.workout-card {
  margin: 10px;
  width: 50%; 
  float: left; 
}

.card {
  margin-bottom: 20px;
  border: 1px solid #bfbfbf;
}

.card-content {
  margin: 5px;
  background-color: #f5f5f5;
  float: left;
}

.favorite-icon {
  margin-top: 10px;
  color: red;
}